$header-color: #ffb8ca;
$background-color: #fff5f6;
$second-bg-color: #f0d1a5;
$third-bg-color: #c2e297;
$modal-bg-color: #e17992;
$ellipse-color: #ffa5ba;
$main-title-color: #d41443;
$second-title-color: #ffa5ba;
$text-color: #907e82;
$socials-color: #fea5bb;
$second-btn-bcg: #ecebeb;
