
$header-color: #FFB8CA;
$background-color: #FFF5F6;
$second-bg-color: #F0D1A5;
$third-bg-color: #C2E297;
$modal-bg-color: #E17992;
$ellipse-color: #FFA5BA;
$main-title-color: #D41443;
$second-title-color: #FFA5BA;
$text-color:  #907E82;
$socials-color: #FEA5BB;