<section class="advantages" id="id=about">
  <div class="container">
    <h2 class="advantages-title visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list-element advantages-1 list">
        <p class="figures figure-1">721</p>
        <p class="figures-text">
          We cooperate with an 721 high standard quality milk farms.
        </p>
      </li>
      <li class="advantages-list-element advantages-2 list">
        <p class="figures figure-2">16kg</p>
        <p class="figures-text">
          Each 100 kg of ice cream include 16 kilo of ecological and fresh fruit.
        </p>
      </li>
      <li class="advantages-list-element advantages-3 list">
        <p class="figures figure-3">84</p>
        <p class="figures-text">
          Healthy product. Total quantity of calories per unit is less than 84.
        </p>
      </li>
    </ul>
  </div>
</section>
