<section class="advantages" id="id=about">
  <div class="container">
    <ul class="adv-list">
      <li class="adv-list-element list">
        <p class="figures figure-1">721</p>
        <p class="figures-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="adv-list-element list">
        <p class="figures figure-2">16kg</p>
        <p class="figures-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="adv-list-element list">
        <p class="figures figure-3">84</p>
        <p class="figures-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
