<section class="brunches" id="contact">
  <div class="container">
    <h2 class="visually-hidden">Our brunches</h2>

    <ul class="brunches__list">
      <li class="brunches__card">
        <div class="title-box">
          <span class="brunches__point">CAFE</span>
          <h3 class="brunches__sity">Chicago</h3>
          <p class="brunches__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="scheduele-box">
          <li>
            <p class="schedule-days">Monday - Friday</p>
            <p class="schedule-houres">06:00 AM - 10:00 PM</p>
          </li>

          <li>
            <p class="schedule-days">Saturday - Sunday</p>
            <p class="schedule-houres schedule-houres--reset">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>

        <ul class="contacts-box">
          <li>
            <a class="brunches__contacts" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="brunches__contacts" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="brunches__card">
        <div class="title-box">
          <span class="brunches__point brunches__point--green">FOODTRUCK</span>
          <h3 class="brunches__sity">Los Angeles</h3>
          <p class="brunches__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="scheduele-box">
          <li>
            <p class="schedule-days">Monday - Friday</p>
            <p class="schedule-houres">06:00 AM - 10:00 PM</p>
          </li>

          <li>
            <p class="schedule-days">Saturday - Sunday</p>
            <p class="schedule-houres">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts-box">
          <li>
            <a class="brunches__contacts" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="brunches__contacts" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="brunches__card">
        <div class="title-box">
          <span class="brunches__point">CAFE</span>
          <h3 class="brunches__sity">New York</h3>
          <p class="brunches__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="scheduele-box">
          <li>
            <p class="schedule-days">Monday - Friday</p>
            <p class="schedule-houres">06:00 AM - 10:00 PM</p>
          </li>

          <li>
            <p class="schedule-days">Saturday - Sunday</p>
            <p class="schedule-houres">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts-box">
          <li>
            <a class="brunches__contacts" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="brunches__contacts" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="brunches__btns">
      <li class="btns-item">
        <a
          class="modal-location"
          href="https://www.google.com.ua/maps/place/%D0%9B%D0%BE%D1%81-%D0%90%D0%BD%D0%B4%D0%B6%D0%B5%D0%BB%D0%B5%D1%81,+%D0%9A%D0%B0%D0%BB%D1%96%D1%84%D0%BE%D1%80%D0%BD%D1%96%D1%8F,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@34.0201613,-118.6919263,10z/data=!3m1!4b1!4m5!3m4!1s0x80c2c75ddc27da13:0xe22fdf6f254608f4!8m2!3d34.0522342!4d-118.2436849"
          target="_blank"
        >
          Our Locations
          <svg width="7" height="10">
            <use href="./images/sprite.svg#icon-contacts-white"></use>
          </svg>
        </a>
      </li>
      <li class="btns-item">
        <button class="modal-franchise" type="button" data-modal-contact-open>
          Franchise
          <svg width="7" height="10">
            <use href="./images/sprite.svg#icon-contacts"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <div class="backdrop is-hidden" data-modal-contact>
    <div class="modal">
      <button type="button" class="close-button" data-modal-contact-close>
        <svg class="close-button-icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-close-modal-contacts"></use>
        </svg>
      </button>

      <form class="request-form">
        <b class="request-form__title"
          >Leave your details, our manager will contact you</b
        >
        <div class="form-field">
          <label class="request-form__label" for="name">Name</label>
          <input
            class="request-form__input"
            type="text"
            name="name"
            id="name"
          />
          <svg class="request-form__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-person-contacts"></use>
          </svg>
        </div>

        <div class="form-field">
          <label class="request-form__label" for="tel">Tel</label>
          <input type="number" 
           name="tel" 
           class="request-form__input"
           pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
           id="tel" 
          />

          <svg class="request-form__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-phone-contacts"></use>
          </svg>
        </div>

        <div class="form-field">
          <label class="request-form__label" for="email">Email</label>
          <input
            class="request-form__input"
            type="email"
            id="email"
            name="email"
          />
          <svg class="request-form__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-email-contacts"></use>
          </svg>
        </div>

        <label class="request-form__label" for="comment">Comment</label>
        <textarea
          class="request-comment-area"
          name="comment"
          id="comment"
          rows="4"
          placeholder="Leave comment here"
        ></textarea>

        <button
          class="button request-form__button"
          type="submit"
          data-modal-thanks-open
        >
          Send
        </button>
      </form>
    </div>
    <div class="thanks-modal is-hidden" data-modal-thanks>
      <button type="button" class="thanks-modal__close" data-modal-thanks-close>
        <svg class="close-menu-icon" width="14" height="14">
          <use href="./icons.svg#icon-close"></use>
        </svg>
      </button>
      <p class="thanks-modal__text">Thanks for your choice</p>
    </div>
  </div>

  <script src="./js/thanks-modal-contacts.js" type="module"></script>
</section>
