<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/src/sass/index.scss">
    <link rel="stylesheet" href="/src/sass/layout/_customer-reviews.scss">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap" rel="stylesheet"/>
</head>
<body>
    <article class="reviews container">
        <div class="slider swiper-container container">
            <div class="swiper-wrapper">
                <!-- Первый коммент -->
                <div class="swiper-slide">
                    <img src="/src/images/mobile/mob-customer-reviews.jpeg" alt="" width="85px" height="85px" class="swiper-img">
                        <div class="reviews-container">
                            <p class="reviews-text"><span class="reviews-text-span underline">I have never tasted such delicious ice cream. Now I buy it only here and recommend it to all my friends.</span></p>
                        </div>
                        <div class="reviews-under">
                            <ul class="reviews-under-list list">
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                            </ul>
                            <p class="reviews-under-text">Nikita, Kharkiv</p>
                            <!-- <ul class="reviews-under-list-bullets list">
                                <img src="/src/images/mobile/home.png" alt="" class="reviews-under-home reviews-under-item-child">
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                            </ul> -->
                        </div>
                </div>
                <!-- Второй коммент -->
                <div class="swiper-slide">
                    <img src="/src/images/mobile/mob-customer-reviews2.jpeg" alt="" width="85px" height="85px" class="swiper-img">
                        <div class="reviews-container">
                            <p class="reviews-text"><span class="reviews-text-span underline">I decided to try your ice coffee, and I can say with confidence that I didn’t do it in vain! Thank you so much.</span></p>
                        </div>
                        <div class="reviews-under">
                                <ul class="reviews-under-list list">
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                            </ul>
                            <p class="reviews-under-text">Mikhail, Dnepr</p>
                            <!-- <ul class="reviews-under-list-bullets list">
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                                <img src="/src/images/mobile/home.png" alt="" class="reviews-under-home reviews-under-item-child">
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                            </ul> -->
                        </div>
                </div>
                <!-- Третий коммент -->
                <div class="swiper-slide">
                    <img src="/src/images/mobile/mob-customer-reviews3.jpeg" alt="" width="85px" height="85px" class="swiper-img">
                        <div class="reviews-container">
                            <p class="reviews-text"><span class="reviews-text-span underline">My friend recommended your amazing milkshakes and I was pleasantly surprised by their taste.</span></p>
                        </div>
                        <div class="reviews-under">
                            <ul class="reviews-under-list list">
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                            </ul>
                            <p class="reviews-under-text">Anna, Kyiv</p>
                            <!-- <ul class="reviews-under-list-bullets list">
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                                <img src="/src/images/mobile/home.png" alt="" class="reviews-under-home reviews-under-item-child">
                            </ul> -->
                        </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </article>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="./js/script.js"></script>
</html>