
    <section class="customer">
    <article class="reviews container">
        <div class="slider swiper-container container">
            <div class="swiper-wrapper">
                <!-- Первый коммент -->
                <div class="swiper-slide">
                    <img src="/src/images/mob-customer-reviews.jpeg" alt="Reviewer phohto" width="85" height="85" class="swiper-img">
                        <div class="reviews-container">
                            <p class="reviews-text"><span class="reviews-text-span underline">I have never tasted such delicious ice cream. Now I buy it only here and recommend it to all my friends.</span></p>
                        </div>
                        <div class="reviews-under">
                            <ul class="reviews-under-list list">
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                            </ul>
                            <p class="reviews-under-text">Nikita, Kharkiv</p>
                            <!-- <ul class="reviews-under-list-bullets list">
                                <img src="/src/images/home.png" alt="" class="reviews-under-home reviews-under-item-child">
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                            </ul> -->
                        </div>
                </div>
                <!-- Второй коммент -->
                <div class="swiper-slide">
                    <img src="/src/images/mob-customer-reviews2.jpeg" alt="Reviewer phohto" width="85" height="85" class="swiper-img">
                        <div class="reviews-container">
                            <p class="reviews-text"><span class="reviews-text-span underline">I decided to try your ice coffee, and I can say with confidence that I didn’t do it in vain! Thank you so much.</span></p>
                        </div>
                        <div class="reviews-under">
                                <ul class="reviews-under-list list">
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                            </ul>
                            <p class="reviews-under-text">Mikhail, Dnepr</p>
                            <!-- <ul class="reviews-under-list-bullets list">
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                                <img src="/src/images/home.png" alt="" class="reviews-under-home reviews-under-item-child">
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                            </ul> -->
                        </div>
                </div>
                <!-- Третий коммент -->
                <div class="swiper-slide">
                    <img src="/src/images/mob-customer-reviews3.jpeg" alt="Reviewer phohto" width="85" height="85" class="swiper-img">
                        <div class="reviews-container">
                            <p class="reviews-text"><span class="reviews-text-span underline">My friend recommended your amazing milkshakes and I was pleasantly surprised by their taste.</span></p>
                        </div>
                        <div class="reviews-under">
                            <ul class="reviews-under-list list">
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                                <li class="reviews-under-item"></li>
                            </ul>
                            <p class="reviews-under-text">Anna, Kyiv</p>
                            <!-- <ul class="reviews-under-list-bullets list">
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                                <li class="reviews-under-bullet reviews-under-item-child"></li>
                                <img src="/src/images/home.png" alt="" class="reviews-under-home reviews-under-item-child">
                            </ul> -->
                        </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </article>
</section>