<section class="gallery">
    <div class="container"> 
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list"> 
    <li class="gallery__item one"><img src="./images/mobile/img1.jpg" alt="" class="gallery__img"></li> 

    <li class="gallery__item two"><img src="./images/mobile/img2.jpg" alt="" class="gallery__img"></li> 

    <li class="gallery__item--big"><img src="./images/mobile/img3.jpg" alt="" class="gallery__img--big"></li> 

    <li class="gallery__item four"><img src="./images/mobile/img4.jpg" alt="" class="gallery__img"></li> 

    <li class="gallery__item five"><img src="./images/mobile/img5.jpg" alt="" class="gallery__img"></li> 

    <li class="gallery__item six"><img src="./images/mobile/img6.jpg" alt="" class="gallery__img"></li> 

    <li class="gallery__item seven"><img src="./images/mobile/img7.jpg" alt="" class="gallery__img"></li> 

    <li class="gallery__item eight"><img src="./images/mobile/img8.jpg" alt="" class="gallery__img"></li> 

    <li class="gallery__item nine"><img src="./images/mobile/img9.jpg" alt="" class="gallery__img"></li> 

    <li class="gallery__item ten"><img src="./images/mobile/img10.jpg" alt="" class="gallery__img"></li> 
</ul> 
</div>
</section>