<section class="gallery">
    <div class="gallery-container"> 
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list"> 
    <li class="gallery__item one">
        <picture>
            <source srcset="
            ./images/gallery/desk-img1.jpg 1x,
            ./images/gallery/desk-img1@2x.jpg 2x
" media="(min-width:1200px)" />
   <source srcset="
   ./images/gallery/tab-img1.jpg 1x,
   ./images/gallery/tab-img1@2x.jpg 2x
" media="(min-width:768px)" />
            <source srcset="
            ./images/gallery/img1.jpg 1x,
            ./images/gallery/img1@2x.jpg 2x
 " media="(min-width:320px)" />
<img src="./images/gallery/img1.jpg" alt="img" class="gallery__img">
        </picture>
        </li> 

    <li class="gallery__item two">
        <picture>
            <source srcset="
            ./images/gallery/desk-img2.jpg 1x,
            ./images/gallery/desk-img2@2x.jpg 2x
" media="(min-width:1200px)" />
   <source srcset="
   ./images/gallery/tab-img2.jpg 1x,
   ./images/gallery/tab-img2@2x.jpg 2x
" media="(min-width:768px)" />
            <source srcset="
            ./images/gallery/img2.jpg 1x,
            ./images/gallery/img2@2x.jpg 2x
 " media="(min-width:320px)" />
<img src="./images/gallery/img2.jpg" alt="img2" class="gallery__img">
        </picture>
    </li> 

    <li class="gallery__item big">
        <picture>
            <source srcset="
            ./images/gallery/desk-img3.jpg 1x,
            ./images/gallery/desk-img3@2x.jpg 2x
" media="(min-width:1200px)" />
   <source srcset="
   ./images/gallery/tab-img3.jpg 1x,
   ./images/gallery/tab-img3@2x.jpg 2x
" media="(min-width:768px)" />
            <source srcset="
            ./images/gallery/img3.jpg 1x,
            ./images/gallery/img3@2x.jpg 2x
 " media="(min-width:320px)" />
<img src="./images/gallery/img3.jpg" alt="img3" class="gallery__img">
        </picture>
    </li> 

    <li class="gallery__item four">
        <picture>
            <source srcset="
            ./images/gallery/desk-img4.jpg 1x,
            ./images/gallery/desk-img4@2x.jpg 2x
" media="(min-width:1200px)" />
   <source srcset="
   ./images/gallery/tab-img4.jpg 1x,
   ./images/gallery/tab-img4@2x.jpg 2x
" media="(min-width:768px)" />
            <source srcset="
            ./images/gallery/img4.jpg 1x,
            ./images/gallery/img4@2x.jpg 2x
 " media="(min-width:320px)" />
<img src="./images/gallery/img4.jpg" alt="img4" class="gallery__img">
        </picture>
    </li> 

    <li class="gallery__item five">
        <picture>
            <source srcset="
            ./images/gallery/desk-img5.jpg 1x,
            ./images/gallery/desk-img5@2x.jpg 2x
" media="(min-width:1200px)" />
   <source srcset="
   ./images/gallery/tab-img5.jpg 1x,
   ./images/gallery/tab-img5@2x.jpg 2x
" media="(min-width:768px)" />
            <source srcset="
            ./images/gallery/img5.jpg 1x,
            ./images/gallery/img5@2x.jpg 2x
 " media="(min-width:320px)" />
<img src="./images/gallery/img5.jpg" alt="img5" class="gallery__img">
        </picture>
    </li> 

    <li class="gallery__item six">
        <picture>
            <source srcset="
            ./images/gallery/desk-img6.jpg 1x,
            ./images/gallery/desk-img6@2x.jpg 2x
" media="(min-width:1200px)" />
   <source srcset="
   ./images/gallery/tab-img6.jpg 1x,
   ./images/gallery/tab-img6@2x.jpg 2x
" media="(min-width:768px)" />
            <source srcset="
            ./images/gallery/img6.jpg 1x,
            ./images/gallery/img6@2x.jpg 2x
 " media="(min-width:320px)" />
<img src="./images/gallery/img6.jpg" alt="img6" class="gallery__img">
        </picture>
    </li> 

    <li class="gallery__item seven">
        <picture>
            <source srcset="
            ./images/gallery/desk-img7.jpg 1x,
            ./images/gallery/desk-img7@2x.jpg 2x
" media="(min-width:1200px)" />
   <source srcset="
   ./images/gallery/tab-img7.jpg 1x,
   ./images/gallery/tab-img7@2x.jpg 2x
" media="(min-width:768px)" />
            <source srcset="
            ./images/gallery/img7.jpg 1x,
            ./images/gallery/img7@2x.jpg 2x
 " media="(min-width:320px)" />
<img src="./images/gallery/img7.jpg" alt="img7" class="gallery__img">
        </picture>
    </li> 

    <li class="gallery__item eight">
        <picture>
            <source srcset="
            ./images/gallery/desk-img8.jpg 1x,
            ./images/gallery/desk-img8@2x.jpg 2x
" media="(min-width:1200px)" />
   <source srcset="
   ./images/gallery/tab-img8.jpg 1x,
   ./images/gallery/tab-img8@2x.jpg 2x
" media="(min-width:768px)" />
            <source srcset="
            ./images/gallery/img8.jpg 1x,
            ./images/gallery/img8@2x.jpg 2x
 " media="(min-width:320px)" />
<img src="./images/gallery/img8.jpg" alt="img8" class="gallery__img">
        </picture>
    </li> 

    <li class="gallery__item nine">
        <picture>
            <source srcset="
            ./images/gallery/desk-img9.jpg 1x,
            ./images/gallery/desk-img9@2x.jpg 2x
" media="(min-width:1200px)" />
   <source srcset="
   ./images/gallery/tab-img9.jpg 1x,
   ./images/gallery/tab-img9@2x.jpg 2x
" media="(min-width:768px)" />
            <source srcset="
            ./images/gallery/img9.jpg 1x,
            ./images/gallery/img9@2x.jpg 2x
 " media="(min-width:320px)" />
<img src="./images/gallery/img9.jpg" alt="img9" class="gallery__img">
        </picture>
    </li> 

    <li class="gallery__item ten">
        <picture>
            <source srcset="
            ./images/gallery/desk-img10.jpg 1x,
            ./images/gallery/desk-img10@2x.jpg 2x
" media="(min-width:1200px)" />
   <source srcset="
   ./images/gallery/tab-img10.jpg 1x,
   ./images/gallery/tab-img10@2x.jpg 2x
" media="(min-width:768px)" />
            <source srcset="
            ./images/gallery/img10.jpg 1x,
            ./images/gallery/img10@2x.jpg 2x
 " media="(min-width:320px)" />
<img src="./images/gallery/img10.jpg" alt="img10" class="gallery__img">
        </picture>
    </li> 
</ul> 
</div>
</section>