<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Icecream with passion</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./sass/index.scss" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__nav-mobile">
          <img src="./images/mobile/logo-1x.png" alt="logo" />
          <button type="button" class="header__burger-open">
            <svg class="button__burger" width="20" height="12">
              <use href="./images/mobile/sprite.svg#icon-burger" ></use>
            </svg>
          </button>
          <div class="mob-menu invisible">
            <button type="button" class="header__burger-close">
              <svg class="close-menu-icon" width="14" height="14">
                <use href="./images/mobile/sprite.svg#icon-close-header"></use>
              </svg>
            </button>
            <div class="btn-indend">
              <button type="button" class="buy-now"><span class="buy-now-span">Buy now</span>
                <span class="span-icon">
                  <svg class="buy-now-icon" width="5.5" height="8">
                    <use href='./images/mobile/sprite.svg#icon-buy-now'></use>
                  </svg>
                </span>
              </button>
            </div>
            <ul class="nav-menu__list">
                    <li class="nav-menu__item"><a href="#about" class="nav-menu__link">Home</a></li>
                    <li class="nav-menu__item"><a href="#tradition" class="nav-menu__link">About us</a></li>
                    <li class="nav-menu__item"><a href="#products" class="nav-menu__link">How it’s made?</a></li>
                    <li class="nav-menu__item"><a href="#contact" class="nav-menu__link">Our products</a></li>
                    <li class="nav-menu__item"><a href="#footer" class="nav-menu__link">Contact</a></li>
                </ul>
          </div>
        </div>
    </header>


            </section>
         <div class="backdrop__header invisible">
          <div class="modal__header">
            <button type="button" class="close-modal-btn">
              <svg class="close-menu-icon" width="14" height="14">
                <use href="./images/mobile/sprite.svg#icon-close-header"></use>
              </svg>
            </button>
            <p class="modal-title">Buy now</p>
            <form class="header__modal-form">
              <div class="header__modal-form-field">
                <label for="user-name" class="header__modal-label">Name</label>
                <input type="text" id="user-name" class="header__modal-input" required placeholder="John">
              </div>
              <div class="header__modal-form-field">
                <label for="email" class="header__modal-label">Email</label>
                <input type="text" id="email" class="header__modal-input" required placeholder="order@gmail.com">
              </div>
              <div class="header__modal-form-field">
                <label for="tel" class="header__modal-label">Tel</label>
                <input type="number" id="tel" class="header__modal-input" required placeholder="+3800501111111">
              </div>
              <div class="header__modal-form-field">
                <label for="product" class="header__modal-label">Select product</label>
                <select id="product" name="product" class="header__modal-select">
                  <option value="ice-cream">Icecream</option>
                  <option value="ice-coffe">Ice-coffe</option>
                  <option value="milkshake">Milkshake</option>
              </div>
              <div class="header__modal-form-textarea">
                <label for="comments" class="header__modal-label">Comments</label>
                <textarea name="comments" id="comments" cols="20" rows="10" class="header__modal-textarea textarea" placeholder="Write here"></textarea>
              </div>
              <div class="header__modal-submit">
                <button type="submit" class="buy-now modal-submit">Submit</button>
              </div>
            </form>
          </div>
         </div>
    <script src="./js/modal.js"></script>
    <script src="./js/mobile-menu.js"></script>
  </body>
</html>
