  <header class="header">
      <div class="container">
        <div class="header-wrapper">
          <div class="header__nav-mobile">
          <picture>
            <source srcset="./images/logo-1x.png 1x, ./images/logo-2x.png 2x">
          <img src="./images/logo-1x.png" alt="logo" />
          </picture>
          <button type="button" class="header__burger-open" id="burger" >
            <svg class="button__burger" width="20" height="12">
              <use href="./icons.svg#icon-burger" ></use>
            </svg>
          </button>
          <div class="header__nav-list">
            <ul class="nav-menu__list nav-menu__desktop">
                    <li class="nav-menu__item nav-item__desktop"><a href="#" class="nav-menu__link">Home</a></li>
                    <li class="nav-menu__item nav-item__desktop"><a href="#id=about" class="nav-menu__link">About us</a></li>
                    <li class="nav-menu__item nav-item__desktop"><a href="#tradition" class="nav-menu__link">How it’s made?</a></li>
                    <li class="nav-menu__item nav-item__desktop"><a href="#products" class="nav-menu__link">Our products</a></li>
                    <li class="nav-menu__item nav-item__desktop"><a href="#contact" class="nav-menu__link">Contact</a></li>
                </ul>
          </div>
          <div class="btn-buy-tablet">
              <button type="button" class="buy-now buy-now-tablet" id="buy-now-tab"><span class="buy-now-span">Buy now</span>
              <span class="span-icon">
                  <svg class="buy-now-icon" width="15" height="19">
                    <use href='./icons.svg#icon-keyboard_arrow_right'></use>
                  </svg>
                </span>
            </button>
            </div>
          
        </div>
        </div>
        
        </div>
        <div class="mob-menu invisible">
            <button type="button" class="header__burger-close" >
              <svg class="close-menu-icon" width="14" height="14">
                <use href="./icons.svg#icon-close-mob"></use>
              </svg>
            </button>
            <div class="btn-indent">
              <button type="button" class="buy-now-menu buy-now"><span class="buy-now-span">Buy now</span>
                <span class="span-icon">
                  <svg class="buy-now-icon" width="15" height="19">
                    <use href='./icons.svg#icon-keyboard_arrow_right'></use>
                  </svg>
                </span>
              </button>
            </div>
            <ul class="nav-menu__list">
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link">Home</a></li>
                    <li class="nav-menu__item"><a href="#id=about" class="nav-menu__link">About us</a></li>
                    <li class="nav-menu__item"><a href="#tradition" class="nav-menu__link">How it’s made?</a></li>
                    <li class="nav-menu__item"><a href="#products" class="nav-menu__link">Our products</a></li>
                    <li class="nav-menu__item"><a href="#contact" class="nav-menu__link">Contact</a></li>
                </ul>
          </div>
        </div>
      </div>
    </header>
         <section class="hero">
          <div class="container">

            <div class="hero-wrapper">
              <div class="hero-title-wrapper">
                <h1 class="hero-title">Ice cream made with <span class="hero-second-title">passion</span></h1>
              </div>
        
              <div class="hero-link-wrapper">
                <ul class="hero-link-list list">
                  <li class="hero-link-item">
                    <a href="#products" class="link-products link">
                      Products</a>
                  </li>
                  <li class="hero-link-item">
                    <a href="#tradition" class="link-howitsmade link">
                      How it's made?</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="hero-wrapper-counter">
              <ul class="hero-counter-list">
                <li class="hero-counter-item">
                  <div class="ellipse"></div> 
                  <div class="hero-thumb-counter">
                    <p class="hero-numb">16
                    </p>
                    <p class="hero-text-counter">
                      cafes
                    </p>
                  </div>

                </li>

                <li class="hero-counter-item">
                  <div class="ellipse"></div>
                  <div class="hero-thumb-counter">
                    <p class="hero-numb">23
                    </p>
                    <p class="hero-text-counter">
                      food trucks
                    </p>
                  </div>

                  
                </li>
              </ul>
            </div>
        
            <div class="circle-wraper">
              <div class="circle"></div>
            </div>
            <div class="ice-cream animate__animated animate__flash"></div>
            <div class="big-eco animate__animated animate__flash"></div>
            <div class="girl animate__animated animate__flash"></div>
            <!-- <div class="hero-16 animate__animated animate__flash"></div>
            <div class="hero-23 animate__animated animate__flash"></div> -->

            <div  class="hero-thumb" data-hero-menu="">

              <p class="hero-text">fact #1 
                In the United States, glass milk bottles have been replaced mostly with milk cartons and plastic jugs.</p>
              <p class="hero-text-replace">The champion in milk production belongs to the USA, farms produce about 80 billion
              liters of milk per year.</p>

                <button type="button" class="hero-button" data-hero-button-menu="" aria-expanded="false">
                  <svg width="10" height="10">
                    <use href="./images/sprite.svg#icon-arrow-right" class="hero-icon"></use>
                    <use href="./images/sprite.svg#icon-close" class="hero-close"></use>
                  </svg></button>
              </div>
              
          </div>
        </section>

         <div class="backdrop__header invisible">
          <div class="modal__header">
            <button type="button" class="close-modal-btn">
              <svg class="close-menu-icon" width="14" height="14">
                <use href="./icons.svg#icon-close-mob"></use>
              </svg>
            </button>
            <p class="modal-title">Buy now</p>
            <form class="header__modal-form">
              <div class="header__modal-form-field">
                <label for="user-name" class="header__modal-label">Name</label>
                <input type="text" id="user-name" class="header__modal-input" required >
                <svg class="request-form__icon" width="18" height="18">
                  <use href="./images/sprite.svg#icon-person-contacts"></use>
                </svg>
              </div>

              <div class="header__modal-form-field">
                <label for="header-email" class="header__modal-label">Email</label>
                <input type="text" id="header-email" class="header__modal-input" required >
                <svg class="request-form__icon" width="18" height="18">
                  <use href="./images/sprite.svg#icon-email-contacts"></use>
                </svg>
              </div>

              <div class="header__modal-form-field">
                <label for="header-tel" class="header__modal-label">Tel</label>
                <input type="number" id="header-tel" class="header__modal-input" required >
                <svg class="request-form__icon" width="18" height="18">
                  <use href="./images/sprite.svg#icon-phone-contacts"></use>
                </svg>
              </div>

              <div class="header__modal-form-field">
                <label for="product" class="header__modal-label">Select product</label>
                <select id="product" name="product" class="header__modal-select">
                  <option value="ice-cream">Icecream</option>
                  <option value="ice-coffe">Ice-coffee</option>
                  <option value="milkshake">Milkshake</option>
              </div>

              <div class="header__modal-form-field">
                <label for="quantity" class="header__modal-label">Quantity</label>
                <select id="quantity" name="quantity" class="header__modal-select">
                  <option value="1">1 kg</option>
                  <option value="5">5 kg</option>
                  <option value="10">10 kg</option>
              </div>

              <div class="header__modal-form-textarea">
                <label for="comments" class="header__modal-label">Comments</label>
                <textarea name="comments" id="comments" cols="20" rows="10" class="header__modal-textarea textarea" placeholder="Write here"></textarea>
              </div>

              <div class="header__modal-submit">
                <button type="submit" class="modal-submit">Submit</button>
              </div>

            </form>
          </div>
          
         </div>
         <div class="modal-thanks invisible">
            <button type="button" class="btn-thanks close-modal-thanks">
              <svg class="close-menu-icon" width="14" height="14">
                <use href="./icons.svg#icon-close-mob"></use>
              </svg>
            </button>
            <div class="thanks-text-block">
              <p class="thanks-text">Thanks for your choice.</p>
            <p class="thanks-text">Order #0001</p>
            </div>
          </div>
    <script type="module" src="./js/modal.js"></script>
    <script type="module" src="./js/mobile-menu.js"></script>
    <script type="module" src="./js/modal-thanks.js"></script>
    <script type="module" src="./js/modal-mob-menu.js"></script>
    <script type="module" src="./js/burger-btn.js"></script>
    <script type="module" src="./js/buy-now-hidden.js"></script>
