<section class="products" id="products">
    <div class="container">
        <p class="label"> 100% natural </p>
        <h2 class="products-title">PRODUCTS</h2>
        <ul class="products-list">
            <li class="products-item products-item__first" data-menu>
                <div class="products-thumb">
                    <h3 class="products-item__title">ICE CREAM</h3>
                    <div class="products-circle">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <p class="products-item__text">Ice cream, frozen dairy food made from cream or butterfat, milk,
                        sugar, and flavourings </p>


                    <p class="thumb-text thumb-text__cream">Ice cream is made by combining, under constant agitation,
                        the liquid ingredients (milk, cream, syrups, etc.). These
                        liquids are heated and combined with dry ingredients (sugar, stabilizers, dried eggs or milk) to
                        form a mix, which is
                        then pasteurized and homogenized</p>
                </div>

                <button type="button" class="products-button " data-menu-button aria-expanded="false">
                    <svg width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow-right" class="products-icon"></use>
                        <use href="./images/sprite.svg#icon-close" class="products-close"></use>
                    </svg></button>

            </li>
            <li class="products-item products-item__scnd" data-men>

                <h3 class="products-item__title">ICE COFFEE</h3>
                <div class="products-circle">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>

                <p class="products-item__text">Iced coffee is a coffee beverage served cold. It may be prepared either
                    by brewing coffee normally and then serving it over ice or in cold milk, or by brewing the coffee
                    cold </p>

                <p class="thumb-text thumb-text__coffee"> Iced coffee may be served already chilled, or poured hot over
                    ice. Because sugar does not dissolve readily into cold
                    liquids, it must be added either directly to the hot base, or to the finished product in the form of
                    syrup.</p>


                <button type="button" class="products-button " data-menu-butto aria-expanded="false">
                    <svg width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow-right" class="products-icon"></use>
                        <use href="./images/sprite.svg#icon-close" class="products-close"></use>
                    </svg></button>

            </li>
            <li class="products-item products-item__thrd" data-me>
                <h3 class="products-item__title">MILKSHAKES</h3>
                <div class="products-circle">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>

                <p class="products-item__text">Is a sweet beverage made by blending milk, ice cream, and flavorings or
                    sweeteners such as butterscotch, caramel sauce,
                    chocolate syrup, fruit syrup, or whole fruit into a thick, sweet, cold mixture. </p>
                <p class="thumb-text thumb-text__milk">What does 'milkshake' mean? The definition of milkshake is: “a
                    cold drink made of milk, a sweet flavouring such as fruit
                    or chocolate, and typically ice cream, whisked until it is frothy”.</p>


                <button type="button" class="products-button " data-menu-butt aria-expanded="false">
                    <svg width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow-right" class="products-icon"></use>
                        <use href="./images/sprite.svg#icon-close" class="products-close"></use>
                    </svg></button>
            </li>
        </ul>
    </div>
</section>