
.about {
  width: 100%;
  background-color: $background-color;
  padding-top: 60px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
   padding-bottom: 60px;
  }  
}

.about__pre-title {
  font-family: 'Titan One';
  text-align: center;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
      margin-bottom: 16px;
      
    }
  

  @include fonts(400, 18px, 1.16, null);
  color: $second-title-color;
  text-transform: uppercase;
  margin-top: 0;
 

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
      line-height: 1.13;
    }
}

.about__title {
  font-family: 'Titan One';
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  @include fonts(400, 34px, 1.15, null);
  text-align: center;
  text-transform: uppercase;
  color: $main-title-color;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
      margin-bottom: 40px;
      font-size: 48px;
    }
  @media screen and (min-width: 1200px) {
       font-size: 58px;
       line-height: 1.14;
       margin-bottom: 60px;
    }
}

.cow-list{
  @media screen and (min-width: 768px) {
     display: flex;
     justify-content: center;
    }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/desk-milk.png);
    background-position: center;;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 30px ;
  
   @include retina {
    background-image: url(../images/desk-milk@2x.png);
    }
    }
        
 }

.about-image-cow{
  @media screen and (min-width: 768px) {
   margin-right: 32px;
    }

   @media screen and (min-width: 1200px) {
   margin-right: 99px;   
    }
}

.about-content-cow{
  @media screen and (min-width: 1200px) {
     padding-top: 90px;
    }
}

.about-content-bckg {
  width: 100%;
  background-image: url(../images/mob-milk-1x.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include retina {
    background-image: url(../images/mob-milk-2x.png);
  }

  @media screen and (min-width: 768px) {
  background-image:none
  }     
}

.about-content__after {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
     margin-top: 0;
     margin-bottom: 40px;
    }
}

.about-content__after-title {
  @include fonts(500, 12px, 1.62, 0.04em);
  color: #000000;
  width: 220px;

  @media screen and (min-width: 768px) {
     width:334px;
     font-size: 14px;
     line-height: 1.78;
    }

  @media screen and (min-width: 1200px) {
     width: 463px;
     font-size: 16px;
     line-height: 1.75;
    }
}

.about-content__after-text {
  @include fonts(500, 12px, 1.62, null);
  width: 220px;
  color: $text-color;
  padding-top: 40px;
  margin-bottom: 20px;
  position: relative;

  @media screen and (min-width: 768px) {
      width: 334px;
      font-size: 14px;
      line-height: 1.78;
      margin-bottom: 0;
    }

  @media screen and (min-width: 1200px) {
    width: 463px;
    line-height: 1.92;
    padding-top: 32px;
   }
}

.about-content__btn {
  @include fonts(700, 14px, 1.28, null);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-title-color;
  margin-right: 124px;
  cursor: pointer;
  width: 176px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.3;
    }
}

.about-content__btn:hover,
.about-content__btn:focus {
  background-color:#ECEBEB;
}
.about-content__btn {
  @include transition;
}

.icon {
  margin-left: 14px;
}

/*Модальное окно*/

.backdrop-about {
  z-index: 52;
  position: fixed;
overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(159, 169, 165, 0.272);
  transition: opacity 300ms linear,
  visibility 300ms linear;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-about {
  border-radius: 15px;
  position: absolute;
   top: 50%;
  left: 50%;
  padding: 20px;
   transform: translate(-50%, -50%) scale(1);
  width: 300px;
  min-height: 600px;
  background-color: $background-color;
  border-radius: 5px;
  transition: transform 300ms linear;
  z-index: 30;

  @media screen and (min-width: 768px) {
      width: 544px;
      min-height: 600px;
      padding: 50px;
    }

  @media screen and (min-width: 1200px) {
      width: 544px;
      min-height: 600px;
      padding: 30px;
    }
}

.modal-about-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  width: 35px;
  height: 35px;
  border: 1px $main-title-color;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-icon {
  cursor: pointer;
  fill: $text-color;
}

.about-icon:hover,
.about-icon:focus {
  fill: $main-title-color;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll{
  overflow: hidden;
}

.modal-about-text {
  margin: 0;
  @include fonts(700, 14, 1.28, null);
  color: $text-color;
}

.modal-about-title {
  font-family: 'Titan One';
  text-align: center;
  margin-bottom: 30px;
  
  @include fonts(400, 21px, 18px, null);
  color:$main-title-color;
  @media screen and (min-width: 768px) {
      font-size: 30px;
    }
  
    @media screen and (min-width: 1200px) {
      font-style: 30px;
    }
}

.float{
  @media screen and (min-width: 768px) {
    float: left;
  }

  @media screen and (min-width: 1200px) {
  float: left;
  }
  }
  