.advantages {
  background-color: $background-color;
  padding-top: 40px;
  padding-bottom: 60px;
  @include tablet {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  @include desktop {
    padding-bottom: 120px;
  }
}

.advantages-list {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
  @include desktop {
    display: flex;
  }
}

.advantages-list-element:not(:last-child) {
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 0;
  }
}

.advantages-list-element {
    width: 230px;
  @include tablet {
    width: 180px;
  }
  @include desktop {
    width: 288px;
  }
}

.figures {
  display: block;
  font-family: 'Titan One';
  color: $main-title-color;
  @include fonts(400, 36px, 1.14, 0.04em);
  text-transform: uppercase;
  margin-top: 98px;
  margin-bottom: 16px;
  
  @include tablet {
    @include fonts(400, 48px, 1.14, 0.04em);
    margin-top: 20px;
    margin-bottom: 13px;
  }
  @include desktop {
    @include fonts(400, 58px, 1.14, 0.04em);
    margin-top: 24px;
    margin-bottom: 16px;
    @include fonts(400, 58px, 1.15, 0.04em);
  }
}

.figures-text {
  @include fonts(700, 12px, 1.7, null);
  font-family: 'DM Sans';
  color: #000000; 
  @include tablet {  
    @include fonts(700, 14px, 1.75, 0.04em);  
  }
  @include desktop {
    @include fonts(700, 16px, 1.76, 0.02em);   
  }

}

.advantages-1 {
  position: relative;
}
.figure-1::before {
  position: absolute;
  left: 0px;      
  top: -66px;
  content: " ";
  display: inline-block;
  background-image: url(..//images/mob-milkcup-1x.png);
  background-repeat: no-repeat;
  background-size:contain ;
  background-position: left;

  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}
@include retina {
  .figure-1::before {
      background-image: url(..//images/mob-milkcup-2x.png); 
  }
}

.advantages-2 {
  position: relative;
}
.figure-2::before {
    position: absolute;
    left: 0px;      
    top: -66px;
  content: '';
  display: inline-block;
  background-image: url(..//images/mob-applecup-1x.png);
  background-repeat: no-repeat;
  background-size:contain ;
  background-position: center;
  margin-bottom: px;
  width: 50px;
  height: 50px;
}
@include retina {
  .figure-2::before {
      background-image: url(..//images/mob-applecup-2x.png); 
  }
}

.advantages-3 {
  position: relative;
}
.figure-3::before {
  position: absolute;
  left: 0px;      
  top: -66px;
  content: '';
  display: inline-block;
  background-image: url(..//images/mob-heart-1x.png);
  background-repeat: no-repeat;
  background-size:contain ;
  background-position: center;

  margin-bottom: 0px;
  width: 50px;
  height: 50px;
}
@include retina {
  .figure-3::before {
      background-image: url(..//images/mob-heart-2x.png); 
  }
}
