.reviews {
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        padding-bottom: 120px;
        padding-top: 120px;
    }
}
.swiper-img {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    @media screen and (min-width: 768px) {
        width: 100px;
        height: 100px;
        }
    
    @media screen and (min-width: 1200px) {
        width: 120px;
        height: 120px;
        }
}

.slider {

width: 280px;

@media screen and (min-width: 768px) {
    width: 620;
    }

@media screen and (min-width: 1200px) {
        width: 968;
    }

}
.reviews-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 0;
    width: 280px;
    height: 308px;
    background-color: #FAFAFA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right:20;

    @media screen and (min-width: 768px) {
        width: 556;
        height: 164;
        left:1;
        }

    @media screen and (min-width: 1200px) {
            width: 936;
            height: 168;
        }
}

.reviews-container::after {
    position: absolute;
    content: "❞";
    top: 0;
    left: 0;
    font-size: 128;
    color: #E1E1E1;
}

.reviews-text {
    font-family: 'DM Sans';
    font-weight:500;
    font-size: 15px;
    line-height: calc(30.6/12);
    max-width: 160px;
    position: absolute;

    @media screen and (min-width: 768px) {
        max-width: 370;
        }

        @media screen and (min-width: 1200px) {
            max-width: 750;
            }
}

.underline {
    border-bottom: 1px solid #E1E1E1;
    border-bottom-color: #E1E1E1;
}

.reviews-under-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    @media screen and (min-width: 1200px) {
        opacity: 0;
  visibility: hidden;
  position: none;
    }
}

.reviews-under {
height: 73px;
}

.reviews-under-item {
    width: 4px;
    height: 4px;
    background-color: #C7133E;
    border-radius: 50%;
}

.reviews-under-item:not(:last-child) {
margin-right: 10px;
}

.reviews-under-text {
margin-top: 16px;
font-family: 'DM Sans';
font-weight: 500;
font-size: 14px;
line-height: 186%;  
}

.swiper-pagination {
height: 20px;
margin: 0 auto;
padding-top: 16;
}

.swiper-pagination-bullet {
    background-color: #C7133E;
    width: 12px;
    height: 12px;
}

.reviews-under-list-bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;    
}

.reviews-under-bullet {
width: 12px;
height: 12px;
background-color: #D9D9D9;
border-radius: 50%;
}

.reviews-under-item-child:not(:last-child) {

margin-right: 18px;

} 