.gallery{background-image: linear-gradient(
    to bottom, #FFF5F6 27px, #FAFAFA 27px);
   }

.gallery__list { display: grid;
grid-template-columns: repeat(7, 44px);
grid-template-rows: repeat(3, 44px);
grid-row-gap: 2px;
grid-column-gap: 2px;
position:relative;
}

.gallery__item>img {display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    } 
    
.gallery__item--big {grid-column: span 2;
grid-row: span 2;}
.gallery__item {position:relative;}
.gallery__item.two,.gallery__item.seven {top: 28px;}

.gallery__item.eight{
    grid-column: 3 ;
    grid-row: 3;}
    .gallery__item.seven{ grid-column: 2 ;
        grid-row: 2;}
    .gallery__item.nine{grid-column: 5 ;
        grid-row: 2;}
    .gallery__item.ten{grid-column: 6 ;
        grid-row: 2;}
        .gallery__item.one{top: 45px;
    left: 0;}
    .gallery__item.nine,.gallery__item.four{top: 31px;}
    .gallery__item.ten,.gallery__item.five{top: 21px;}
    .gallery__item.six{top: 49px;}
    .gallery__item--big,.gallery__item.eight{top: 0px;}