.header {
  background-color: $header-color;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.mobmenu.invisible {
  left: -100%;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.header__burger-open {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

.header__nav-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.mob-menu {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-bg-color;
  left: 0px;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.header__burger-close {
  background: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
}

.buy-now {
  height: 44px;
  margin-top: 60px;
  background-color: $background-color;
  align-items: center;
  color: $main-title-color;
  text-align: center;
  padding-left: 49px;
  padding-right: 49px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-now:hover {
  background: $main-title-color;
}

.buy-now:hover .buy-now-span {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-buy {
  margin-left: 16px;
}
.span-icon {
  margin-left: 15px;
}

.btn-indend {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__burger {
  fill: #e18298;
}

.nav-menu__list {
  margin-top: 19px;
  padding: 0;
}

.nav-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  display: flex;
  align-items: center;
  color: $background-color;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: $main-title-color;
}

.nav-menu__item {
  width: 100%;
  border: 1px solid #e18298;
}

// MODAL //

.backdrop__header {
  background: rgba(222, 35, 163, 0.404);
  width: 100%;
  height: 100%;
}

.backdrop__header.invisible {
  opacity: 0;
}

.backdrop__header.invisible .modal__header {
  transform: scale(0.9) translateX(70%);
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal__header {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  height: 580px;
  z-index: 110;
  background-color: $ellipse-color;
  border-radius: 10px;
  transform: opacity(1) translateX(70%);
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.close-modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
}

.modal-title {
  @include fonts(700, 14, 1.29, null);
  color: $main-title-color;
  padding-top: 50px;
  text-align: center;
}

.header__modal-label {
  @include fonts(700, 10, 1.29, null);
  color: $main-title-color;
}

.header__modal-form {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  gap: 15px;
  align-items: center;
}

.header__modal-form-field {
  height: 50px;
  width: 100%;
}

.header__modal-input {
  width: 100%;
  @include fonts(500, 12, 1.29, null);
  min-height: 30px;
  color: $main-title-color;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
}

.header__modal-form-textarea {
  height: 100px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.header__modal-select {
  width: 100%;
  @include fonts(500, 12, 1.29, null);
  min-height: 30px;
  padding-left: 10px;
  color: $main-title-color;
  border: none;
  border-radius: 10px;
}

.header__modal-textarea {
  width: 100%;
  @include fonts(500, 12, 1.29, null);
  color: $main-title-color;
  padding-left: 10px;
  padding-top: 5px;
}
.textarea {
  height: 100%;
  resize: none;
  border-radius: 10px;
}
.header__modal-submit {
  display: block;
  margin-top: 20px;
}
.modal-submit {
  margin-top: 0;
}

.modal-submit:hover {
  color: $background-color;
}
