.header {
  background-color: $header-color;
}

// .modal__header::-webkit-scrollbar {
//   width: 0 !important;
// }

// .mob-menu::-webkit-scrollbar {
//   width: 0 !important;
// }

.mobmenu.invisible {
  left: -100%;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.btn-buy-tablet {
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    margin-left: auto;
  }
}

.header__burger-open {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  @include tablet {
    margin-left: 260px;
  }
  @include desktop {
    display: none;
  }
}

.close-menu-icon {
  fill: $background-color;
}

.close-menu-icon:hover,
.close-menu-icon:focus {
  fill: $main-title-color;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  position: none;
}

.header__nav-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 40;
  @include tablet {
    justify-content: space-between;
    padding-top: 32px;
  }
  @include desktop {
    padding-top: 37px;
  }
}

.mob-menu {
  position: absolute;
  z-index: 40;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  background-color: $modal-bg-color;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  @include tablet {
    width: 250px;
    height: 100vh;
    top: 0;
    right: 0;
  }
}

.header__burger-close {
  background: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  @include transition(color);
}

.buy-now {
  @include fonts(700, 16, 1.31, null);
  display: flex;
  height: 44px;
  margin-top: 60px;
  background-color: $background-color;
  align-items: center;
  color: $main-title-color;
  text-align: center;
  padding-left: 49px;
  padding-right: 49px;
  border-radius: 22px;

  border: none;
  cursor: pointer;
  @include transition;
  @include tablet {
    padding-left: 37px;
    padding-right: 37px;
  }
}

.buy-now-icon {
  fill: $main-title-color;
}

.buy-now:hover,
.buy-now:focus {
  background: $second-btn-bcg;
}

.buy-now:hover .buy-now-span,
.buy-now:focus .buy-now-span {
  color: $main-title-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-now:hover .buy-now-icon,
.buy-now:focus .buy-now-icon {
  fill: $main-title-color;
}

.buy-now-tablet {
  display: flex;
  margin-top: 0;
  margin-left: 32px;
  cursor: pointer;
}

.icon-buy {
  margin-left: 16px;
}
.span-icon {
  margin-left: 15px;
  text-align: center;
  padding-top: 3px;
  @include tablet {
    margin-left: 12px;
  }
}

.btn-indent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__burger {
  fill: #e18298;
}

.nav-menu__list {
  margin-top: 19px;
  padding: 0;
  @include fonts(700, 14, 1.29, null);
}

.nav-menu__desktop {
  display: none;
  @include fonts(700, 16, 1.31, null);
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 540px;
    margin-left: 128px;
  }
}

.nav-menu__desktop .nav-item__desktop {
  border: none;
  width: auto;
}

.nav-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  display: flex;
  align-items: center;
  color: $background-color;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include desktop {
    font-size: 16px;
    line-height: calc(21 / 16);
  }
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: $main-title-color;
}

.nav-menu__item {
  width: 100%;
  border: 1px solid #e18298;
}

// MODAL //

.backdrop__header {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(139, 16, 100, 0.404);
  width: 100%;
  height: 100%;
  z-index: 50;
}

.backdrop__header.invisible {
  opacity: 0;
}

.backdrop__header.invisible .modal__header {
  transform: scale(0.9) translateX(-70%);
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal__header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 580px;
  z-index: 110;
  background-color: $ellipse-color;
  border-radius: 10px;
  transform: opacity(1) translateX(-70%);
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  @include tablet {
    left: 60%;
  }
  @include desktop {
    left: 74%;
  }
}

.close-modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  @include fonts(700, 14, 1.29, null);
  color: $main-title-color;
  padding-top: 50px;
  text-align: center;
}

.header__modal-label {
  @include fonts(700, 10, 1.29, null);
  color: $main-title-color;
}

.header__modal-form {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
}

.header__modal-form-field {
  height: 50px;
  width: 100%;
  position: relative;
}

.header__modal-input {
  padding-left: 32px;
  width: 100%;
  border: none;
  @include fonts(500, 12, 1.29, null);
  height: 30px;
  color: $main-title-color;
  padding-left: 10px;
  border-radius: 10px;
}

.header__modal-form-textarea {
  height: 100px;
  width: 100%;
}

.header__modal-select {
  width: 100%;
  border: none;
  @include fonts(500, 12, 1.29, null);
  min-height: 30px;
  padding-left: 10px;
  color: $main-title-color;
  border-radius: 10px;
}

.header__modal-textarea {
  width: 100%;
  @include fonts(500, 12, 1.29, null);
  color: $main-title-color;
  padding-left: 10px;
  padding-top: 5px;
}
.textarea {
  height: 100%;
  border-radius: 10px;
  resize: none;
  border: none;
}
.header__modal-submit {
  display: block;
  margin-top: 20px;
}
.modal-submit {
  margin-top: 0;
}

.modal-submit:hover,
.modal-submit:focus {
  color: $main-title-color;
  background-color: #ecebeb;
  @include transition;
}

// MODAL - THANKS //

.modal-thanks {
  width: 280px;
  height: 550px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: $main-title-color;
  z-index: 150;
  border-radius: 10px;
}

.modal-submit {
  height: 44px;
  // margin-top: 60px;
  background-color: $background-color;
  align-items: center;
  color: $main-title-color;
  text-align: center;
  padding-left: 49px;
  padding-right: 49px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    padding-left: 37px;
    padding-right: 37px;
  }
}

.close-modal-thanks {
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
}

.thanks-text-block {
  position: absolute;
  top: 100px;
  left: 30px;
}

.thanks-text {
  color: $background-color;
  @include fonts(700, 24, 1.31, null);
  margin-bottom: 30px;
}

// HERO //

.hero {
  width: 100%;
  height: 502px;
  background-color: #ffb8ca;
  position: relative;

  @include tablet {
    height: 416px;
  }

  @include desktop {
    height: 664px;
  }
}

.hero-title {
  @include fonts(400, 26px, 1.15, 0.04em);
  text-transform: uppercase;
  color: #ffffff;
  width: 218px;
  text-align: left;

  @include tablet {
    width: 162px;
    @include fonts(400, 22px, 1.14, 0.04em);
  }
  @include desktop {
    width: 277px;
    @include fonts(400, 38px, 1.16, 0.04em);
  }
}

.hero-second-title {
  @include fonts(400, 48px, 0.96, null);
  color: #d41443;

  @include tablet {
    @include fonts(400, 34px, 0.9, 0.04em);
  }
  @include desktop {
    width: 277px;
    @include fonts(400, 58px, 0.9, 0.04em);
  }
}

.link-products {
  @include fonts(400, 8px, 1.25, null);
  color: #ffffff;
  cursor: pointer;
  background-color: #d41443;
  width: 61.2px;
  height: 24px;
  border-radius: 20px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  @include desktop {
    width: 107px;
    height: 40px;
    @include fonts(400, 14px, 1.29, null);
  }
}

.link-howitsmade {
  @include fonts(400, 8px, 1.25, null);
  color: #d41443;
  cursor: pointer;
  background-color: #ffffff;
  width: 82.8px;
  height: 24px;
  border-radius: 20px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  @include transition;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @include desktop {
    width: 138px;
    height: 40px;
    @include fonts(400, 14px, 1.29, null);
  }
}

.circle-wraper {
  position: absolute;
  width: calc(100% - 36px);
  height: 100%;
  max-width: 346px;
  max-height: 344px;
  z-index: 0;
  overflow: hidden;
  top: 83px;
  left: calc(47.32% - 115.424px);

  @include tablet {
    width: 343px;
    max-width: 343px;
    max-height: 333px;
    left: calc(60.35% - 215.5px);
    top: 43px;
  }

  @include desktop {
    width: 534px;
    max-width: 534px;
    max-height: 534px;
    left: calc(50% - 83px);
    top: 54px;
  }
}

.circle-wraper .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  width: 346px;
  height: 344px;
  left: 0;
  top: 0;
  background: #ffa5ba;

  //  @include transition;

  // &:hover,
  // &:focus {
  //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
  //     0px 4px 4px rgba(0, 0, 0, 0.25);
  // }

  @include tablet {
    width: 335px;
    max-width: 335px;
    max-height: 333px;
  }

  @include desktop {
    width: 534px;
    height: 534px;
    max-width: 534px;
    max-height: 534px;
  }
}

.ice-cream {
  background-image: url(../images/hero/mob-icecream-hero-1x.png);
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  z-index: 2;
  width: 171px;
  height: 410px;
  left: calc(45.76% - 29.432px); //117px;
  top: 92px;
  object-fit: cover;
  @include transition(filter);

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  @include retina {
    background-image: url(../images/hero/mob-icecream-hero-1x.png);
  }

  @include tablet {
    background-image: url(../images/hero/tab-icecream-hero.png);
    width: 143px;
    height: 336px;
    top: 80px;
    left: calc(61.33% - 149px);

    @include retina {
      background-image: url(../images/hero/tab-icecream-hero.png);
    }
  }

  @include desktop {
    background-image: url(../images/hero/desk-icecream-hero.png);
    width: 236px;
    height: 557px;
    top: 108px;
    left: calc(50% + 36px);
    @include retina {
      background-image: url(../images/hero/desk-icecream-hero.png);
    }
  }
}

.big-eco {
  @include tablet {
    background-image: url(../images/hero/tab-big-eco.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    z-index: 2;
    width: 152px;
    height: 154px;
    top: 246px;
    left: calc(50% - 352px);
  }

  @include desktop {
    background-image: url(../images/hero/desk-big-eco.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    z-index: 2;
    width: 213px;
    height: 216px;
    top: 388px;
    left: calc(50% - 584px);
  }
}

.girl {
  @include tablet {
    background-image: url(../images/hero/tab-girl.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    z-index: 2;
    width: 190px;
    height: 150px;
    top: 265px;
    right: calc(50% - 352px);
  }

  @include desktop {
    background-image: url(../images/hero/desk-girl.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    z-index: 2;
    width: 304px;
    height: 241px;
    top: 423px;
    right: calc(50% - 584px);
  }
}

.hero-16 {
  @include tablet {
    background-image: url(../images/hero/tab-16.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    z-index: 2;
    width: 43px;
    height: 44px;
    top: 92px;
    right: calc(50% - 352px);
  }

  @include desktop {
    background-image: url(../images/hero/desk-16.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    z-index: 2;
    width: 72px;
    height: 77px;
    top: 152px;
    right: calc(50% - 584px);
  }
}

.hero-23 {
  @include tablet {
    background-image: url(../images/hero/tab-23.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    z-index: 2;
    width: 51px;
    height: 43px;
    top: 152px;
    right: calc(50% - 352px);
  }

  @include desktop {
    background-image: url(../images/hero/desk-23.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    z-index: 2;
    width: 92px;
    height: 76px;
    top: 244px;
    right: calc(50% - 584px);
  }
}

.hero-wrapper {
  position: absolute;
  z-index: 10;
  top: 194px;

  @include tablet {
    top: 102px;
  }
  @include desktop {
    top: 147px;
  }
}

.hero-link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hero-title-wrapper {
  margin-bottom: 20px;
}
.hero-thumb {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    z-index: 4;
    width: 114px;
    height: 73px;
    top: 287px;
    left: calc(50% - 200px);
  }

  @include desktop {
    width: 200px;
    height: 124px;
    top: 456px;
    left: calc(50% - 371px);
  }
}

.hero-text {
  @include tablet {
    width: 114px;
    height: 48px;
    font-style: normal;
    @include fonts(400, 8px, 1.5, null);
    text-align: left;
    color: #fff;
    margin-bottom: 7px;
  }

  @include desktop {
    width: 200px;
    height: 78px;
    @include fonts(400, 14px, 1.4, null);
    text-align: left;
    color: #fff;
  }
}

.hero-button {
  padding: 0;

  &.is-open {
    color: $main-title-color;
    z-index: 2;
  }

  &.is-open .hero-icon {
    display: none;
  }

  &.is-open .hero-close {
    display: block;
  }
  @include tablet {
    width: 18px;
    height: 18px;

    cursor: pointer;
    background-color: #fff;

    fill: #d41443;
    border-radius: 50%;
    border: none;
  }

  @include desktop {
    width: 26px;
    height: 26px;

    cursor: pointer;
    background-color: #fff;

    fill: #d41443;
    border-radius: 50%;
    border: none;
  }

  .hero-close,
  .hero-icon {
    fill: #d41443;
  }

  .hero-close {
    display: none;
  }
}

.hero-icon {
  height: 10px;
  width: 10px;
  fill: #d41443;
}

.hero-close {
  height: 10px;
  width: 10px;
  fill: #d41443;
}

.hero-thumb.is-open .hero-text {
  transform: scale(1.05);
  transition-duration: 1s;
  color: #d41443;
}
