.products {
  padding: 60px 0;
}
.products-list {
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @include tablet {
    // display: flex;
    // gap: 16px;
    display: grid;
    grid-template-columns: 224px 224px 224px;
    grid-template-rows: 611px;
    gap: 16px;
  }
  @include desktop {
    // gap: 32px;
    // align-items: flex-end;
    display: grid;
    grid-template-columns: 368px 368px 368px;
    grid-template-rows: 796px;
    gap: 32px;
  }
}

.label {
  margin-bottom: 15px;
  font-family: 'Titan One', sans-serif;
  @include fonts(400, 18px, 1.17, 0.04em);
  text-align: center;
  color: $second-title-color;
  @include tablet {
    @include fonts(null, 28px, 1.15, null);
    margin-bottom: 18px;
  }
  @include desktop {
    @include fonts(null, 30px, 1.13, null);
    margin-bottom: 16px;
  }
}

.products-title {
  margin-bottom: 8px;
  font-family: 'Titan One', sans-serif;

  @include fonts(400, 34px, 1.15, 0.04em);
  text-align: center;
  color: $main-title-color;
  @include tablet {
    @include fonts(null, 48px, null, null);
    margin-bottom: 20px;
  }
  @include desktop {
    @include fonts(null, 58px, 1.14, 0.06em);
    margin-bottom: 20px;
  }
}

.products-item {
  position: relative;
  margin-top: calc(280 / 2);
  padding: 0 40px 40px 40px;

  width: 280px;
  border-radius: 24px;
  @include tablet {
    width: 224px;
    padding: 0 32px;
  }
  @include desktop {
    margin-top: 261px;
    padding: 0 64px 60px 64px;
    width: 368px;
  }
  &__first {
    background-color: $header-color;
  }
  &__scnd {
    background-color: $second-bg-color;
  }
  &__thrd {
    background-color: $third-bg-color;
  }
}
.products-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: -140px;
  z-index: 1;

  width: 280px;
  height: 280px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-size: contain;
  @include tablet {
    top: -138px;
    width: 224px;
    height: 224px;
  }
  @include desktop {
    top: -261px;
    width: 368px;
    height: 394px;
  }
}
.products-item__first::before {
  background-image: url(../images/mob-icecream-1x.png);
  @include retina {
    background-image: url(../images/mob-icecream-2x.png);
  }

  @include tablet {
    background-image: url(../images/tab-icecream.png);
    @include retina {
      background-image: url(../images/tab-icecream@2x.png);
    }
  }
  @include desktop {
    background-image: url(../images/desk-icecream.png);
    @include retina {
      background-image: url(../images/desk-icecream@2x.png);
    }
  }
}
.products-item__scnd::before {
  background-image: url(../images/mob-icecoffee-1x.png);
  @include retina {
    background-image: url(../images/mob-icecoffee-2x.png);
  }
  @include tablet {
    background-image: url(../images/tab-icecoffee.png);
    @include retina {
      background-image: url(../images/tab-icecoffee@2x.png);
    }
  }
  @include desktop {
    background-image: url(../images/desk-icecoffee.png);
    @include retina {
      background-image: url(../images/desk-icecoffee@2x.png);
    }
  }
}
.products-item__thrd::before {
  background-image: url(../images/mob-milkshakes-1x.png);
  @include retina {
    background-image: url(../images/mob-milkshakes-2x.png);
  }
  @include tablet {
    background-image: url(../images/tab-milkshakes.png);
    @include retina {
      background-image: url(../images/tab-milkshakes@2x.png);
    }
  }
  @include desktop {
    background-image: url(../images/desk-milkshakes.png);
    @include retina {
      background-image: url(../images/desk-milkshakes@2x.png);
    }
  }
}

.products-item__title {
  margin-bottom: 32px;
  text-align: center;
  padding-top: 160px;
  font-family: 'Titan One', sans-serif;
  @include fonts(400, 20px, 1.15, 0.04em);
  color: #fff;

  @include tablet {
    padding-top: 118px;
  }
  @include desktop {
    padding-top: 165px;
    @include fonts(null, 30px, 1.13, null);
  }
}
.products-circle {
  display: flex;
  justify-content: center;
  gap: 4px;

  margin-bottom: 32px;
}
.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.products-item__text {
  margin-bottom: 32px;
  width: 200px;
  font-family: 'DM Sans', sans-serif;
  @include fonts(700, 14px, 1.15, 0.04em);
  text-align: center;
  color: #fff;

  @include tablet {
    height: 150px;
    width: 160px;
    line-height: 1.76;
    overflow: hidden;
  }
  @include desktop {
    font-size: 16px;
    width: 245;
    height: 106;
  }
}

.products-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;

  cursor: pointer;
  background-color: #fff;
  @include transition(box-shadow);
  color: $main-title-color;
  border-radius: 50%;
  border: none;
  &:hover {
    box-shadow: 0px 0px 80px 10px rgba(22, 16, 16, 0.2) inset;
  }
  &.is-open {
    color: $main-title-color;
    z-index: 2;
  }

  &.is-open .products-icon {
    display: none;
  }

  &.is-open .products-close {
    display: block;
  }

  .products-close,
  .products-icon {
    fill: currentColor;
  }
  .products-close {
    display: none;
  }
}

.products-icon {
  height: 10px;
  width: 10px;
  fill: $main-title-color;
}
.products-close {
  height: 10px;
  width: 10px;
  fill: $main-title-color;
}
// .products-thumb {
//   position: relative;
//   overflow: hidden;
// }
.thumb-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 25px;
  transform: scale(0);
  @include transition(transform);

  font-family: 'DM Sans', sans-serif;
  @include fonts(700, 14px, 1.15, 0.04em);
  text-align: bottom;
  color: #fff;

  text-align: center;
  display: flex;
  align-items: flex-end;
  padding: 0 40px 90px;
  // @include tablet {
  //   line-height: 1.76;
  //   overflow: hidden;
  // }
  @include desktop {
    font-size: 16px;
    line-height: 1.76;
    padding-bottom: 135px;
  }

  &__cream {
    background-color: $header-color;
  }
  &__coffee {
    background-color: $second-bg-color;
  }
  &__milk {
    background-color: $third-bg-color;
  }
}
.products-item.is-open .thumb-text {
  transform: scale(1);
}
