.products {
  padding: 60px 0;
  // @include tablet;
}
.products-list {
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  @include tablet {
    display: flex;
    gap: 16px;
  }
}

.label {
  margin-bottom: 15px;
  font-family: 'Titan One', sans-serif;
  @include fonts(400, 18px, 1.17, 0.04em);
  text-align: center;
  color: $second-title-color;
  @include tablet {
    @include fonts(null, 28px, 1.15, null);
    margin-bottom: 18px;
  }
}

.products-title {
  margin-bottom: 8px;
  font-family: 'Titan One', sans-serif;

  @include fonts(400, 34px, 1.15, 0.04em);
  text-align: center;
  color: $main-title-color;
  @include tablet {
    @include fonts(null, 48px, null, null);
    margin-bottom: 20px;
  }
}

.products-item {
  position: relative;
  margin-top: calc(280 / 2);
  padding-bottom: 40px;

  width: 280px;
  // height: 489px;
  border-radius: 24px;
  @include tablet {
    margin-top: calc(224 / 2);

    width: 224px;
    // height: 473px;
  }
  &__first {
    background-color: $header-color;
  }
  &__scnd {
    background-color: $second-bg-color;
  }
  &__thrd {
    background-color: $third-bg-color;
  }
}
.products-img {
  position: absolute;
  top: -140px;
  width: 280px;
  height: 280px;
  z-index: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  @include tablet {
    top: -112px;
    width: 224px;
    height: 224px;
  }
}
.products-item__title {
  margin-bottom: 32px;
  text-align: center;
  padding-top: 160px;
  font-family: 'Titan One', sans-serif;
  @include fonts(400, 20px, 1.15, 0.04em);
  color: #fff;

  @include tablet {
    padding-top: 144px;
  }
}
.products-circle {
  display: flex;
  justify-content: center;
  gap: 4px;

  margin-bottom: 32px;
}
.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.products-item__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  width: 200px;
  font-family: 'DM Sans', sans-serif;
  @include fonts(700, 14px, 1.15, 0.04em);
  text-align: center;
  color: #fff;

  @include tablet {
    height: 150px;
    width: 160px;
    line-height: 1.76;
    overflow: hidden;
  }
}

.products-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  // margin-bottom: 40px;

  cursor: pointer;
  background-color: #fff;

  color: $main-title-color;
  border-radius: 50%;
  border: none;
  &.is-open {
    color: $main-title-color;
    z-index: 2;
  }

  &.is-open .products-icon {
    display: none;
  }

  &.is-open .products-close {
    display: block;
  }

  .products-close,
  .products-icon {
    fill: currentColor;
  }
  .products-close {
    display: none;
  }
}

.products-icon {
  height: 10px;
  width: 10px;
  fill: $main-title-color;
}
.products-close {
  height: 10px;
  width: 10px;
  fill: $main-title-color;
}
.products-thumb {
  position: relative;
  overflow: hidden;
}
.thumb-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 25px;
  transform: scale(0);
  @include transition(transform);

  font-family: 'DM Sans', sans-serif;
  @include fonts(700, 19px, 1.15, 0.04em);
  text-align: bottom;
  color: #fff;

  text-align: center;
  display: flex;
  align-items: flex-end;

  &__cream {
    background-color: $header-color;
  }
  &__coffee {
    background-color: $second-bg-color;
  }
  &__milk {
    background-color: $third-bg-color;
  }
}
.products-item.is-open .thumb-text {
  transform: scale(1) rotate(720deg);
}
